@charset "utf-8";
/* CSS Document */

/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

@font-face {
  font-family: 'Bagel Fat One', sans-serif;
  src: url('../simonida_savic/fonts/Bagel_Fat_One/BagelFatOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Be Vietnam Pro', sans-serif;
  src: url('../simonida_savic/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Almarai', sans-serif;
  src: url('./fonts/Almarai/Almarai-Light.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


/* VARIABLES */
* {
  box-sizing: border-box;
}

:root {
  /* Color settings */
  /* background-image: linear-gradient(180deg, rgba(255,0,0,0), rgb(219, 219, 219), rgb(209, 209, 209), rgb(185, 185, 185), rgb(179, 179, 179), rgb(161, 150, 175), rgb(152, 154, 233), rgb(152, 154, 233), rgb(153, 142, 253), rgb(179, 152, 255), rgb(197, 152, 255), rgb(214, 152, 255));
    --color-text: rgba(0,0,0,1);
    --color-text-link: rgba(0,0,255,0.8);
    --color-text-link-hover: rgba(0,0,255,0.4); */
  /* Font settings */
  --font-paragraph: 'Be Vietnam Pro', sans-serif;
  --font-headings: 'Bagel Fat One', cursive;
  --font-size: 20px;
  /* Margins settings */
  /* --margin: 1rem; */
}

/* GENERAL STYLES */

html,
body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
}

p {
  font-family: var(--font-paragraph);
}

html {
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  margin: 0;
  position: relative;
  color: var(--color-text);
  width: 100%;
  height: auto;
  overflow-y: scroll;
  background-color: rgb(251, 251, 251);
}

::-webkit-scrollbar {
  display: none;
}

#container {
  display: flex;
  flex-direction: row;
  position: relative;
}


.sidebar {
  position: -webkit-sticky;
  position: sticky;
  width: 360px;
  padding: 40px;
  top: 0;
  padding-top: 10px;
  align-self: flex-start;
}

#video-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 2px;
  box-shadow: 0 0 25px rgb(255, 0, 217);
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(251, 251, 251);
}

#video-container>video {
  height: 100%;
  width: 100%;
}

.banner {
  margin-left: 0;
  width: 100%;
  height: 20vh;
  position: center center;
  position: relative;
  background-image: url(/images/mushies.png) no-repeat;
  background-size: cover;
  /* background: linear-gradient(to bottom, rgba(url('mushies.png'), 0.0), rgba(url('mushies.png'), 1.0))!important; */
  filter: invert(20%) sepia(20%) saturate(75%) hue-rotate(327deg) brightness(94%) contrast(90%);
  -webkit-filter: rgb(106, 99, 97);
  /* z-index: 10; */

  /* filter: invert(100%); */
  /* filter: grayscale(100%); */
  z-index: -12;
  opacity: 0.8;
}

p {
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: underline !important;
}

a,
a:visited {
  color: rgb(106, 99, 97) !important;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255) !important;
  background-color: transparent;
  text-decoration: underline;
  /* text-shadow: 0 0 10px rgb(255, 153, 240); */
  text-shadow:
    0 0 0.7em rgb(255, 153, 240);
  /* color:rgba(106, 99, 97, 0.315); */
  transition: shadow .3s;
  object-fit: cover;
}

.btn {
  display: inline-block;
  position: absolute;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: transparent;
  z-index: 99;
  left: 1.5vw;
  top: 10px;
}

#bio {

  padding-top: 18px;
  font-family: 'Be Vietnam Pro';
  font-size: 13.8px;
  line-height: 0.7;

}

.info {
  margin-top: 18px;
  font-family: 'Bagel Fat One';
  font-size: 14px;
  color: rgb(106, 99, 97);
}


#grid {
  width: 100%;
  margin: 10px;
  /* DELETE THIS WHEN DONE */
  /* display: none; */
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item,
.grid-sizer {
  width: calc(33% - 20px);
}

/* .gutter-sizer {
  width: 10px;
} */

.grid-item {
  background-color: rgba(106, 99, 97, 0.128);
  float: left;
  margin: 10px;
  border-style: solid;
  border-color: rgb(106, 99, 97);
  border-width: 1px;
}

.grid-item:hover {
  box-shadow: 0 0 35px rgb(255, 153, 240);
  transition: box-shadow .4s;
  border-style: solid;
  border-color: rgb(255, 255, 255) !important;
  border-width: 1.6px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.gif-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0); /* A semi-transparent background to indicate interaction */
  display: none; /* Hide the overlay by default */
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: calc(100% + 2px)!important; /* Increase by 2px */
  max-height: calc(100% + 2px)!important; /* Increase by 2px */
}

.grid-item.no-click {
  pointer-events: none;
}

/* For the gif-overlay, use pointer-events: auto; to re-enable pointer events within this element */
.grid-item.no-click .gif-overlay {
  pointer-events: auto;
}

.grid-item.no-click:hover .gif-overlay {
  display: flex; /* Show the overlay when hovering over the grid item */
}

#special-grid-item {
  pointer-events: none; /* Disable click events for this specific grid item */
}

.gif-overlay img {
  max-width: 100%;
  max-height: 100%;
}

.grid-item:hover .gif-overlay {
  display: flex; /* Show the overlay when hovering over the grid item */
}

@media (hover: hover) {
  .grid:hover .grid-item {
    filter: blur(4px);
  }

  #grid.grid-item:hover {

    filter: none;
  }

}



.project {
  display: none;
  /* display: flex; */
  flex-direction: row-reverse;
  max-width: 100%;
}

.proj-close {
  position: absolute;
  float: right;
  right: 0;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  filter: invert(16%) sepia(77%) saturate(5423%) hue-rotate(306deg) brightness(115%) contrast(116%);
}

.proj-close svg {
  width: 44px;
  margin: 20px;
  margin-top: 25px;
  margin-right: 15px;
}

.project-info {
  flex: 0 0 48%;
  padding: 45px;
  padding-top: 10px;
  /* background-color: blue; */

}

.project-images {
  flex: 0 0 52%;
  padding-top: 20px;
  /* background-color: red; */
}

.project-images>img {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding-bottom: 34px;

}



/* Mode toggler stuff */
.mode-button {
  position: absolute;
  box-shadow: 0 0 15px rgb(255, 0, 217), 100%, 50%;
  top: 20px;
  right: 20px;
  background-color: rgb(251, 251, 251);
  border-radius: 50%;
  z-index: 11;
  width: 30px;
  height: 30px;
  z-index: 99;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: rgb(245, 245, 245);
    color: rgb(106, 99, 97);
  }

  #sun {
    display: none;
  }

  #bio {
    color: rgb(106, 99, 97);
  }

  .mode-button svg {
    fill: #000;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: rgb(251, 251, 251);
  }

  #moon {
    display: none;
  }

  #bio {
    color: rgb(251, 251, 251);
  }

  .mode-button svg {
    fill: #000;
  }
}

.switch {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 50px;
  top: 50px;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  z-index: 99;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: rgb(106, 99, 97);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: rgba(255, 0, 217, 0.719);
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .mode-button {
    height: 44px;
    width: 44px;
  }

  .project {
    flex-direction: column;
  }

  #container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    position: relative;
  }

  #grid {
    margin: 0;
  }

  .grid-item,
  .grid-sizer {
    width: calc(100% - 20px);
  }
}