@charset "utf-8";
/* CSS Document */

/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

@font-face {
    font-family: 'Bagel Fat One', sans-serif;
    src: url('../simonida_savic/fonts/Bagel_Fat_One/BagelFatOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Be Vietnam Pro', sans-serif;
    src: url('../simonida_savic/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
  font-family: 'Almarai', sans-serif;
  src: url('../simonida_savic/fonts/Almarai/Almarai-Light.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


/* VARIABLES */

:root {
    /* Color settings */
      /* background-image: linear-gradient(180deg, rgba(255,0,0,0), rgb(219, 219, 219), rgb(209, 209, 209), rgb(185, 185, 185), rgb(179, 179, 179), rgb(161, 150, 175), rgb(152, 154, 233), rgb(152, 154, 233), rgb(153, 142, 253), rgb(179, 152, 255), rgb(197, 152, 255), rgb(214, 152, 255));
    --color-text: rgba(0,0,0,1);
    --color-text-link: rgba(0,0,255,0.8);
    --color-text-link-hover: rgba(0,0,255,0.4); */
    /* Font settings */
    --font-family: 'Be Vietnam Pro','Amarai' sans-serif;
    --font-family: 'Bagel Fat One', cursive;
    --font-size: 20px;
    /* Margins settings */
    --margin: 1rem;
  }

/* GENERAL STYLES */

html, body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden;
}

html {
    font: var(--font-size) var(--font-family);
    color: var(--color-text);
    background-color: var(--color-background);
  }
  
  body {
    position:relative;
    background-color: rgb(245, 245, 245);
    font: var(--font-size) var(--font-family);
    color: var(--color-text);
    width:100%;
    height:auto;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  #box_1 {
    width: 360px;
    height: 360px;
    border-radius: 2px;
    border: solid rgb(106, 99, 97);
    box-shadow: 0 0 15px rgb(255, 17, 53);
    border: 2px solid rgb(106, 99, 97);
    border-radius: 3px;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    left: 1.5vw;
    top: 3vh;
    position: relative;
  }
  
  .video-container{
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
  }

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.banner{
  width: 99.1%;
  height: 30vh;
  position: center center;
  background-image: url(../simonida_savic/images/mushies.png) no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, rgba(url('mushies.png'), 0.0), rgba(url('mushies.png'), 1.0))!important;
  filter: (100%);
  -webkit-filter: rgb(106, 99, 97);
  z-index: -10;
  filter: invert(100%);
  filter: grayscale(100%);
}

  h1{

  }

  h2{

  }

  h3, h4, h5, h6 {

  }

  p{

  }

  a:visited {
    color: rgb(106, 99, 97) !important;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: blue !important;
    background-color: transparent;
    text-decoration: underline;
  }

  .btn {
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: transparent;
  position: relative;
  z-index: 2;
  left: 1.5vw;
  top: 0vh;

  }

  .bio{
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 75%;
    font-family: 'Be Vietnam Pro';
    font-size: 16px;
    color: rgb(106, 99, 97);
    line-height: 1.5;
  }

  .info{
    padding-left: 2%;
    padding-top: 0;
    font-family: 'Bagel Fat One';
    font-size: 18px;
    color: rgb(106, 99, 97);
    line-height: 0.5;
  }
  /* navigation */
 
nav{
  
}

/* content */

main{
 
}

summary{
  
}

  
/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
    display: block;
  }
  
  .mobile {
    display: none;
  }
  
  /* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */
  
  /* .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  } */
  

   /* MEDIA QUERIES */

/* responsive typeface */

@media (max-width: 298px) { 
    :root{ --font-size: 15px; } html, body {font: var(--font-size) var(--font-family);} 
  }
  @media (min-width: 299px) and (max-width: 339px) { 
    :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);} 
  }
  @media (min-width: 340px) and (max-width: 439px) { 
    :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);} 
  }
  @media (min-width: 440px) and (max-width: 599px) { 
    :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
  }
  @media (min-width: 600px) and (max-width: 779px) { 
    :root{ --font-size: 19px; } html, body {font: var(--font-size) var(--font-family);}
  }
  @media (min-width: 780px) and (max-width: 992px) { 
    :root{ --font-size: 20px; } html, body {font: var(--font-size) var(--font-family);}
  }
  @media (min-width: 993px) and (max-width: 1200px) { 
    :root{ --font-size: 22px; } html, body {font: var(--font-size) var(--font-family);}
  }
  @media (min-width: 1201px) and (max-width: 1319px) { 
    :root{ --font-size: 24px; } html, body {font: var(--font-size) var(--font-family);}
  }
  @media (min-width: 1320px) and (max-width: 1619px) { 
    :root{ --font-size: 26px; } html, body {font: var(--font-size) var(--font-family);}
  }
  @media (min-width: 1620px) and (max-width: 1879px) { 
    :root{ --font-size: 28px; } html, body {font: var(--font-size) var(--font-family);}
  }
  @media (min-width: 1880px) { 
    :root{ --font-size: 30px; } html, body {font: var(--font-size) var(--font-family);}
  }





  /* website media queries */

/* @media (max-width: 779px) { */

    /* styles for screen sizes 779px, should covers 'mobile' and 'tablet' */
    /* style this one first and then use the two others to 'override' some styles (exceptions/details) */
  
  
  
  
  
  
    /* utilities */
  
    .desktop{display:none!important;}
    .mobile{display:block;}
  
  
/*   
  @media (max-width: 339px) { */
  
    /* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */
  
  /* } */
  
  
  
  /* @media (max-width: 779px) and (orientation: landscape) { */
  
    /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */
  
  /* } */
  
  
  
 
    /* use this query to apply style for 'small' desktop screens */
  
  /* } */
  
  